@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@700&family=MuseoModerno:ital@1&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@700&family=MuseoModerno:ital,wght@0,500;1,400&family=Ubuntu:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    background-image: url('../../gradients/wallpaperflare.com_wallpaper.jpg');
    /* background-image: url('../../gradients'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform-origin: middle;
    margin: 5vh;
}

.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    min-width: 300px;
    max-width: 900px;
    border-radius: 50px;
    /* transform-origin: middle; */
    height: auto;
    min-height: 200px;
    /* Make sure the body takes up the full viewport height */
    margin: 0;
    padding: 25px;
    background: linear-gradient(50deg,
            rgba(255, 255, 255, 0.4) 12%,
            rgba(255, 255, 255, 0.1) 77%);
    background-blend-mode: exclusion;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.content {
    background-color: #861657;
    background-image: linear-gradient(330deg, #861657 70%, #ffa69e 34%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    transform-origin: middle;
    background-blend-mode: multiply;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    margin: 22px;
    color: whitesmoke;
    /* max-height: 200px; */
    /* max-width: fit-content; */
    width: 180px;
    overflow: hidden;
    border-top-left-radius: 45px;
    /* border-bottom-right-radius: 30px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.course,
.timing,
.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transform-origin: middle;
    /* background-color: #04AA6D!important; */
    width: 100%;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* border-radius: 10px; */
    padding: 0%;
    /* border-radius: 10px; */
    font-family: 'Ubuntu', sans-serif;
}

/* .course{
     background-color: #04AA6D!important;   
} */

.course{
    font-family: 'MuseoModerno', cursive;
    font-size: 18.5px;
    font-weight: 900;
}


.timing {
    background-color: #FF4858;
    font-size: 16px;
}

.platform {
    background-color: #FA7F08;
    font-size: 16px;
}

.p1,
.p2,
.p3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transform-origin: middle;
    margin: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bolder;
    max-width: fit-content;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border-radius: 50%; */
    height: 350px;
    width: 350px;
    /* border: solid #861657 20px; */
    /* background-image: url('../../gradients/No\ data-rafiki.svg'); */
}